body {
  background-color: #a57ee5;
  font-family: 'Comic Sans MS', 'Comic Neue', cursive;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.content-tareas{
    background-color: #eecdf2;
    border-radius: 20px;
    padding: 2rem;
    width: 400px;
    text-align: center;
    border: 2px solid #714ac3;
}